scrapers/fasb_data/ filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/ filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/*.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/440_commitments.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/845_nonmonetary_transactions.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/852_reorganizations.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/853_service_concession_arrangements.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/908_airlines.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/980_regulated_operations.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/280_segment_reporting.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/460_guarantees.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/605_revenue_recognition.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/805_business_combinations.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/940_financial_services—brokers_and_dealers.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/958_not-for-profit_entities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/430_deferred_revenue.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/832_government_assistance.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/924_entertainment—casinos.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/948_financial_services—mortgage_banking.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/950_financial_services—title_plant.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/954_health_care_entities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/972_real_estate—common_interest_realty_associations.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/985_software.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/272_limited_liability_entities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/embeddings/embedding_cache.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/220_income_statement—reporting_comprehensive_income.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/260_earnings_per_share.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/320_investments—debt_securities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/808_collaborative_arrangements.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/928_entertainment—music.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/932_extractive_activities—oil_and_gas.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/965_plan_accounting—health_and_welfare_benefit_plans.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/210_balance_sheet.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/321_investments—equity_securities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/360_property,_plant,_and_equipment.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/610_other_income.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/926_entertainment—films.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/930_extractive_activities—mining.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/105_generally_accepted_accounting_principles.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/405_liabilities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/606_revenue_from_contracts_with_customers.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/946_financial_services—investment_companies.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/350_intangibles—goodwill_and_other.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/715_compensation—retirement_benefits.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/944_financial_services—insurance.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/970_real_estate—general.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/450_contingencies.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/705_cost_of_sales_and_services.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/740_income_taxes.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/855_subsequent_events.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/905_agriculture.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/915_development_stage_entities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/275_risks_and_uncertainties.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/274_personal_financial_statements.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/330_inventory.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/705_cost_of_sales_and_services_part_2.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/820_fair_value_measurement.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/942_financial_services—depository_and_lending.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/978_real_estate—time-sharing_activities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/255_changing_prices.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/410_asset_retirement_and_environmental_obligations.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/825_financial_instruments.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/325_investments—other.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/720_other_expenses.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/730_research_and_development.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/835_interest.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/840_leases.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/842_leases.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/848_reference_rate_reform.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/952_franchisors.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/225_income_statement.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/250_accounting_changes_and_error_corrections.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/323_investments—equity_method_and_joint_ventures.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/326_financial_instruments—credit_losses.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/420_exit_or_disposal_cost_obligations.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/718_compensation—stock_compensation.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/815_derivatives_and_hedging.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/850_related_party_disclosures.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/215_statement_of_shareholder_equity.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/962_plan_accounting—defined_contribution_pension_plans.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/910_contractors—construction.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/270_interim_reporting.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/305_cash_and_cash_equivalents.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/470_debt.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/810_consolidation.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/920_entertainment—broadcasters.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/922_entertainment—cable_television.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/960_plan_accounting—defined_benefit_pension_plans.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/205_presentation_of_financial_statements.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/976_real_estate—retail_land.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/974_real_estate—real_estate_investment_trusts.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/340_other_assets_and_deferred_costs.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/712_compensation—nonretirement_postemployment_benefits.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/912_contractors—federal_government.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/310_receivables.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/235_notes_to_financial_statements.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/480_distinguishing_liabilities_from_equity.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/505_equity.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/710_compensation—general.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/830_foreign_currency_matters.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/860_transfers_and_servicing.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/995_u.s._steamship_entities.json filter=lfs diff=lfs merge=lfs -text
knowledge/fasb/documents/230_statement_of_cash_flows.json filter=lfs diff=lfs merge=lfs -text
knowledge/pcaob/**.*.json filter=lfs diff=lfs merge=lfs -text
knowledge/pcaob/embeddings/embedding_cache_0.json filter=lfs diff=lfs merge=lfs -text
knowledge/pcaob/embeddings/embedding_cache.json filter=lfs diff=lfs merge=lfs -text
knowledge/pcaob/documents/auditing_interpretations_audits_after_december_15_2020.pdf filter=lfs diff=lfs merge=lfs -text
knowledge/pcaob/documents/auditing_interpretations_audits_before_december_15_2020.pdf filter=lfs diff=lfs merge=lfs -text
knowledge/pcaob/documents/auditing_standards_audits_after_december_15_2020.pdf filter=lfs diff=lfs merge=lfs -text
