.container {
    height: 100%;
    
  }

.pageContent {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

 @media (min-width: 800px) {
    .pageContent {
        max-width: 50rem;
    }
  }